<nav class="navbar no-margin-bottom alt-font">
  <div class="container navigation-menu">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-lg-2 col-md-3 navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand inner-link" href="#home">
          <img src="../assets/images/fumi2.png" alt="" />
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#home" class="inner-link">
              <b>Home</b>
            </a>
          </li>
          <li>
            <a href="#events" class="inner-link">
              <b>Events</b>
            </a>
          </li>
          <li>
            <div class="dropdown">
              <a class="dropbtn">
                <b>Community</b>
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-content">
                <a href="#restaurants" class="inner-link">
                  <b>Restaurants</b>
                </a>
                <a href="#performers" class="inner-link">
                  <b>Performers</b>
                </a>
              </div>
            </div>
          </li>
          <li>
            <a href="#about" class="inner-link">
              <b>About</b>
            </a>
          </li>
          <li>
            <a href="#contact" class="inner-link">
              <b>Contact Us</b>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
<!-- end navigation -->

<!-- HOME -->
<!-- <section id="home" class="no-padding fix-background" style="background-image:url('../assets/images/restaurant-fixed.jpg');">
  <div class="opacity-medium bg-dark-gray"></div>
  <div class="container full-screen position-relative">
      <div class="slider-typography text-center">
          <div class="slider-text-middle-main">
              <div class="slider-text-middle slider-typography-option1 ">
                  <img src="../assets/images/hungry.png" class="xs-width-70" alt=""/>
              </div>
          </div>
      </div>
  </div>
  <div class="scroll-down"><a class="section-link" href="#events"><img src="../assets/images/arrow-down.png" alt=""/></a></div>
</section> -->
<!-- HOME -->

<section id="home" class="fix-background " style="background-image:url('../assets/images/restaurant-img24.jpg');">
  <article class="col-md-6 col-sm-6 col-xs-12 margin-four margin-lr-auto no-margin-top">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-transparent"> -->
    <!-- Featured Events image -->
    <div class="col-md-8 col-sm-6 col-xs-6" style="margin-left: 20%">
      <img src="../assets/images/venues.png" alt="" />
      <div class="col-md-8 col-sm-6 col-xs-6"></div>
      <a style="position: absolute; top: 80%; left: 27%;" routerLink="/login" class="sm-no-margin highlight-button-black-border btn btn-medium no-margin-bottom inner-link">Create Your Event</a>
    </div>
    <!-- end Featured Events image -->
    <!-- </div> -->
  </article>
  <!-- end Featured Events item -->
  <!-- Featured Events item -->
  <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-transparent"> -->
    <!-- Featured Events image -->
    <div class="col-md-6 col-sm-6 col-xs-6 no-padding" style="margin-top: 5%; margin-left: 20%">
      <img src="../assets/images/fumi-text.png" class="xs-width-70" alt="" />
      <span class="title-large text-uppercase display-block letter-spacing-1 margin-one no-margin-lr alt-font xs-text-large deep-yellow-text ">An original modern-authentic Japanese Cuisine</span>
    </div>
    <!-- end Featured Events image -->
    <!-- </div> -->
  </article>
</section>

<!-- Featured Events section -->
<section id="events" class="fix-background opacity-full" style="background-image:url('../assets/images/wow.jpg'); opacity: 0.8;">
  <div class="opacity-full bg-dark-gray"></div>
  <div class="container position-relative">
    <!-- section title -->
    <div class="row margin-nine no-margin-top no-margin-lr">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 white-text display-block font-weight-600 margin-one no-margin-top">Featured Events</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator3.png" alt="" />
        </div>
      </div>
    </div>
    <!-- end section title -->
    <div class="row blog-post-style2">
      <!-- Featured Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l1.jpg" alt="" />
          </div>
          <!-- end Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">25 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Art Workshop</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Featured Events item -->
      <!-- Featured Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l2.jpg" alt="" />
          </div>
          <!-- end Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">20 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Wine Tasting</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Featured Events item -->
      <!-- Featured Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l3.jpg" alt="" />
          </div>
          <!-- end Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">18 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Have brunch with us!</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Featured Events item -->
      <!-- Featured Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l4.jpg" alt="" />
          </div>
          <!-- end Featured Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">16 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Cheese Tasting</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Featured Events item -->
    </div>
  </div>
</section>
<!-- end Featured Events section -->

<!-- Open Events section -->
<section class="fix-background" style="background-image:url('../assets/images/restaurant-fixed.jpg');">
  <div class="opacity-full bg-dark-gray"></div>
  <div class="container position-relative">
    <!-- section title -->
    <div class="row margin-nine no-margin-top no-margin-lr">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 white-text display-block font-weight-600 margin-one no-margin-top">Open Events</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator3.png" alt="" />
        </div>
      </div>
    </div>
    <!-- end section title -->
    <div class="row blog-post-style2">
      <!-- Open Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l5.jpg" alt="" />
          </div>
          <!-- end Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">25 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Come and listen to some Jazz Music</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Open Events item -->
      <!-- Open Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l6.jpg" alt="" />
          </div>
          <!-- end Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">20 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Secrets. Secrets everywhere.</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Open Events item -->
      <!-- Open Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <img src="../assets/images/l7.jpg" alt="" />
          </div>
          <!-- end Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">18 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>Picaso's Gallery Opening</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Open Events item -->
      <!-- Open Events item -->
      <article class="col-md-6 col-sm-6 col-xs-12 margin-four no-margin-lr no-margin-top">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding bg-white">
          <!-- Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-thumbnail overflow-hidden">
            <a>
              <img src="../assets/images/l8.jpg" alt="" />
            </a>
          </div>
          <!-- end Open Events image -->
          <div class="col-md-6 col-sm-6 col-xs-6 no-padding post-details-arrow">
            <div class="post-details">
              <span class="text-small text-uppercase letter-spacing-2 alt-font light-gray-text">16 June 2015</span>
              <span class="text-extra-large text-uppercase display-block alt-font margin-twelve no-margin-lr sm-text-medium xs-text-medium">
                <a>It's the PAUL COELHO!</a>
              </span>
              <div class="separator-line bg-deep-yellow margin-seventeen no-margin-bottom margin-lr-auto"></div>
            </div>
          </div>
        </div>
      </article>
      <!-- end Open Events item -->
    </div>
  </div>
</section>
<!-- end Open Events section -->

<!-- Featured Restaurant section -->
<section id="restaurants" class="no-padding-bottom overflow-hidden">
  <div class="container">
    <!-- section title -->
    <div class="row margin-eighteen no-margin-top no-margin-lr">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600 margin-one no-margin-top ">Featured Restaurants</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator.png" alt="" />
        </div>
      </div>
    </div>
    <!-- end section title -->
  </div>
  <div class="container-fluid no-margin-bottom no-margin-lr">
    <div class="row">
      <!-- Featured Restaurant -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- Featured Restaurant image -->
        <div class="chef-img">
          <img src="../assets/images/fumi-pic.png" alt="" />
        </div>
        <!-- end Featured Restaurant image -->
        <!-- Featured Restaurant bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">FUMI</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Japanese</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">An original modern-authentic Japansese cuisine</p>
        </div>
        <!-- end Featured Restaurant bio -->
      </div>
      <!-- end Featured Restaurant -->
      <!-- Featured Restaurant -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- Featured Restaurant image -->
        <div class="chef-img">
          <img src="../assets/images/tin-lung-heen-pic.png" alt="" />
        </div>
        <!-- end Featured Restaurant image -->
        <!-- Featured Restaurant bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">TIN LUNG HEEN</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Chinese</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Authentic Cantonese in a Refined Atmosphere</p>
        </div>
        <!-- end Featured Restaurant bio -->
      </div>
      <!-- end Featured Restaurant -->
      <!-- Featured Restaurant -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- Featured Restaurant image -->
        <div class="chef-img">
          <img src="../assets/images/tosca-pic.png" alt="" />
        </div>
        <!-- end Featured Restaurant image -->
        <!-- Featured Restaurant bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">TOSCA</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Italian, European</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">A Dramatic Dining Experience Worthy of its Name</p>
        </div>
        <!-- end Featured Restaurant bio -->
      </div>
      <!-- end Featured Restaurant -->
      <!-- Featured Restaurant -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- Featured Restaurant image -->
        <div class="chef-img">
          <img src="../assets/images/amber-pic.png" alt="" />
        </div>
        <!-- end Featured Restaurant image -->
        <!-- Featured Restaurant bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">AMBER</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Contemporary, French</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Diners cast their eyes upon enticing contemporary French from the talent-filled kitchen of Chef Richard Ekkebus</p>
        </div>
        <!-- end Featured Restaurant bio -->
      </div>
      <!-- end Featured Restaurant -->
    </div>
  </div>
</section>
<!-- end Featured Restaurant section -->

<!-- performers section -->
<section id="performers" class="no-padding-bottom overflow-hidden">
  <div class="container">
    <!-- section title -->
    <div class="row margin-eighteen no-margin-top no-margin-lr">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600 margin-one no-margin-top ">Featured Performers</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator.png" alt="" />
        </div>
      </div>
    </div>
    <!-- end section title -->
  </div>
  <div class="container-fluid no-margin-bottom no-margin-lr">
    <div class="row">
      <!-- performers -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- performers image -->
        <div class="chef-img">
          <img src="../assets/images/performer-one.jpg" alt="" />
        </div>
        <!-- end performers image -->
        <!-- performers bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">Ruffa Famat</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Fumi Head</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard.</p>
        </div>
        <!-- end performers bio -->
      </div>
      <!-- end performers -->
      <!-- performers -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- performers image -->
        <div class="chef-img">
          <img src="../assets/images/performer-two.jpg" alt="" />
        </div>
        <!-- end performers image -->
        <!-- performers bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">Jeremy Lapuz</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Kpop Lodi</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard.</p>
        </div>
        <!-- end performers bio -->
      </div>
      <!-- end performers -->
      <!-- performers -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- performers image -->
        <div class="chef-img">
          <img src="../assets/images/performer-three.jpg" alt="" />
        </div>
        <!-- end performers image -->
        <!-- performers bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">Mary Amora</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Blackpink Member</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard.</p>
        </div>
        <!-- end performers bio -->
      </div>
      <!-- end performers -->
      <!-- performers -->
      <div class="col-md-3 col-sm-6 text-center chef-bio overflow-hidden">
        <!-- performers image -->
        <div class="chef-img">
          <img src="../assets/images/performer-four.jpg" alt="" />
        </div>
        <!-- end performers image -->
        <!-- performers bio -->
        <div class="chef-details padding-seventeen no-padding-lr center-col text-center bg-brown">
          <div class="separator-line-thick bg-deep-yellow margin-lr-auto margin-fourteen no-margin-top xs-margin-six xs-no-margin-top xs-margin-lr-auto"></div>
          <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-yellow-text text-uppercase display-block">Edison Llorada</span>
          <span class="text-small letter-spacing-2 text-uppercase alt-font light-gray-text">Rockstar</span>
          <p class="text-medium margin-nine width-80 margin-lr-auto no-margin-bottom light-gray-text xs-margin-five xs-no-margin-bottom xs-margin-lr-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard.</p>
        </div>
        <!-- end performers bio -->
      </div>
      <!-- end performers -->
    </div>
  </div>
</section>
<!-- end performers section -->

<section class="no-padding-top">
  <div class="container">
    <div class="row margin-ten no-margin-lr no-margin-bottom">
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 counter-style1 text-center border-right sm-margin-eleven sm-no-margin-lr sm-no-margin-top xs-no-border">
        <span class="timer counter-number alt-font font-weight-500 brown-text" data-to="780" data-speed="7000"></span>
        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-seven no-margin-lr display-block alt-font xs-margin-three xs-no-margin-lr">Clients Served</span>
        <i class="icon-heart icon-small deep-yellow-text"></i>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 counter-style1 text-center border-right sm-no-border sm-margin-eleven sm-no-margin-lr sm-no-margin-top">
        <span class="timer counter-number alt-font font-weight-500 brown-text" data-to="987" data-speed="7000"></span>
        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-seven no-margin-lr display-block alt-font xs-margin-three xs-no-margin-lr">Hours Cooking</span>
        <i class="icon-clock icon-small deep-yellow-text"></i>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 counter-style1 text-center border-right xs-no-border xs-margin-eleven xs-no-margin-lr xs-no-margin-top">
        <span class="timer counter-number alt-font font-weight-500 brown-text" data-to="350" data-speed="7000"></span>
        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-seven no-margin-lr display-block alt-font xs-margin-three xs-no-margin-lr">Table Booking</span>
        <i class="icon-wine icon-small deep-yellow-text"></i>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 counter-style1 text-center">
        <span class="timer counter-number alt-font font-weight-500 brown-text" data-to="166" data-speed="7000"></span>
        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-seven no-margin-lr display-block alt-font xs-margin-three xs-no-margin-lr">Food Recipes</span>
        <i class="icon-wallet icon-small deep-yellow-text"></i>
      </div>
      <!-- end counter item -->
    </div>
  </div>
</section>
<!-- end counter section -->
<!-- about section -->
<section id="about">
  <div class="container sm-text-center">
    <!-- section title -->
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600 margin-one no-margin-top no-margin-lr">About Us</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator.png" alt="" />
        </div>
      </div>
    </div>
    <!-- section title -->
    <!-- section text / image -->
    <div class="row margin-eight no-margin-lr">
      <div class="col-md-8 col-sm-12">
        <img src="../assets/images/jap.jpg" alt="" />
      </div>
      <div class="col-md-4 col-sm-12 margin-nineteen no-margin-lr sm-no-margin-bottom">
        <span class="text-large text-uppercase display-block letter-spacing-1 margin-four no-margin-lr alt-font">Speciality of the House</span>
        <span class="title-extra-large text-uppercase alt-font font-weight-600 light-gray-text display-block xs-title-medium">Discover our tasty meals</span>
        <div class="separator-line-thick bg-deep-yellow no-margin-lr sm-margin-lr-auto sm-margin-seven"></div>
        <p class="text-medium margin-fifteen no-margin-lr sm-width-100 sm-margin-seven xs-margin-seven xs-no-margin-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <a class="highlight-button-black-border btn btn-small no-margin-bottom inner-link xs-no-margin">Discover Menu</a>
      </div>
    </div>
    <!-- end section text / image -->
  </div>
</section>
<!-- end about section -->
<!-- contact section -->
<section id="contact" class="border-top">
  <div class="container">
    <!-- section title -->
    <div class="row margin-six no-margin-top no-margin-lr">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600 margin-one no-margin-top">Contact Us</h2>
        <div class="margin-four no-margin-top">
          <img src="../assets/images/separator.png" alt="" />
        </div>
      </div>
    </div>
    <!-- end section title -->
    <div class="row">
      <!-- text -->
      <div class="col-md-5 col-sm-12 margin-nine no-margin-bottom no-margin-lr xs-text-center xs-no-margin">
        <div class="col-md-1 col-sm-1">
          <i class="icon-map-pin icon-small deep-yellow-text margin-one-half no-margin-lr"></i>
        </div>
        <div class="col-md-11 col-sm-3 xs-margin-nine xs-no-margin-lr xs-no-margin-top">
          <span class="text-uppercase alt-font black-text">Our Restaurant</span>
          <p class="text-medium">6/F, California Tower, Lan Kwai Fong, 30 - 36 D'Aguilar St, Central</p>
        </div>
        <div class="col-md-1 col-sm-1 margin-twelve no-margin-lr sm-no-margin">
          <i class="icon-clipboard icon-small deep-yellow-text margin-one-half no-margin-lr"></i>
        </div>
        <div class="col-md-11 col-sm-3 margin-twelve no-margin-lr sm-no-margin xs-margin-nine xs-no-margin-lr xs-no-margin-top">
          <span class="text-uppercase alt-font black-text">General Enquiries</span>
          <p class="text-medium">
            <a href="info@fumihk.com" class="gray-text">info@fumihk.com</a>
          </p>
        </div>
        <div class="col-md-1 col-sm-1">
          <i class="icon-phone  icon-small deep-yellow-text margin-one-half no-margin-lr"></i>
        </div>
        <div class="col-md-11 col-sm-3">
          <span class="text-uppercase alt-font black-text">Call us</span>
          <p class="text-medium">+852 2328 3302</p>
        </div>
      </div>
      <!-- end text -->
      <div class="col-md-7 col-sm-12 margin-nine no-margin-bottom no-margin-lr position-relative">
        <form id="restaurantcontactform" action="javascript:void(0)" method="post">
          <div id="success" class="no-margin-lr"></div>
          <!-- input -->
          <input type="text" name="name" id="name" placeholder="* YOUR NAME" class="big-input alt-font">
          <!-- end input -->
          <!-- input  -->
          <input type="text" name="email" id="email" placeholder="* YOUR EMAIL" class="big-input alt-font">
          <!-- end input -->
          <!-- dropdown  -->
          <div class="select-style big-select alt-font">
            <select id="interestedin" name="interestedin">
              <option selected>WHAT ARE YOU INTERESTED IN?</option>
              <option value="Banquets & Catering">Banquets & Catering</option>
              <option value="Private Parties">Private Parties</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <!-- end dropdown  -->
          <!-- textarea  -->
          <textarea name="comment" id="comment" placeholder="YOUR MESSAGE" class="big-input alt-font"></textarea>
          <!-- end textarea  -->
          <!-- button  -->
          <button id="restaurant-contact-button" type="submit" class="highlight-button-dark btn btn-medium">Submit</button>
          <!-- end button  -->
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->