/* You can add global styles to this file, and also import other style files */
@font-face{
font-family: "Themify";
    src: url("./assets/fonts/themify.eot");
    src: 
    url("./assets/fonts/themify.woff") format("woff"),
    url("./assets/fonts/themify.ttf") format("ttf"),
    url("./assets/fonts/themify.svg#filename") format("svg");
}